<div class="d-flex justify-content-between mb-5">
     
  <div class="card avatar-card">
    <img src="<%= user.photo %>" alt="avatar" class="card-img-top" />
  </div>

 <div class="card user-info-card">
   <div class="card-body d-flex justify-content-between">
      <h3 class="card-title m-0"><b><%= user.name %></b></h3>
     <p class="card-text post-number m-0">Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
</div>