<div class="card mb-3">
  <div class="d-flex">
    <img src="<%= user.photo %>" alt="avatar" />
    <div class="card-body">
      <div class="card-title">
        <h3 class="m-0"><b><%= user.name %></b></h3>
      </div>
      <div class="d-flex h-50 justify-content-end align-items-end">
      <p class="m-0">Number of posts: <%= user.posts_counter %></p>
  </div>
    </div>
  </div>
</div>