<div class="container mt-5">
  <% if @users.empty? %>
    <p>Please add users</p>
  <% end %>
  <% @users.each do |user| %>
    <a href="/users/<%= user.id %>" class="text-decoration-none">
      <%= render 'shared/user_card', user: user %>
    </a>
  <% end %>
</div>