body {
  padding: 30px;
}

.avatar-card {
  flex: 6;
  max-width: 100px;
  height: 110px;
  margin-right: 20px;
}

.user-info-card {
  flex: 2;
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-height: 100%;
}

.user-info-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info-card .card-title {
  font-size: 1.5rem;
  margin: 0;
}

.user-info-card .card-text {
  font-size: 1rem;
  margin: 0;
}

.post-number {
  align-self: flex-end;
  justify-content: end;
}

.btn-post {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  align-items: center;
  margin: auto;
}
